<ion-header>
  <ion-toolbar>
    <ion-title color="success">Ingresos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let ingreso of ingresos">
      
        <ion-label>
          <h2>{{ingreso.name}}</h2> <p>{{ingreso.description}}</p>
        </ion-label>
        <ion-card-subtitle id="value" color="success">{{ingreso.value}}</ion-card-subtitle>
    </ion-item>
  </ion-list>

  <section id="totalingresos">
    <strong>TOTAL INGRESOS {{totalingresos}}</strong>
  </section>
</ion-content>
