#totalgastos{
    width: 100%;
    height: 10%;
    padding: 5%;
    position: fixed;
    top: 85%;
    background-color: red;
    color: white;
    text-align: center;
    border-radius: 30px;
    
}