<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title color="success">Ingresos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul>
        <li *ngFor="let ingreso of ingresos">
          {{ingreso.name}} - {{ingreso.description}}
        </li>
      </ul>
    </ion-card-content>
    
      <ion-button [routerLink]="['/ingresos']" routerLinkActive="router-link-active"  expand="block" fill="clear" shape="round">
        Let's see
      </ion-button>
    
  </ion-card>


  <ion-card>
    <ion-card-header>
      <ion-card-title color="danger">Egresos</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul>
        <li *ngFor="let egreso of egresos">
          {{egreso.name}} - {{egreso.description}}
        </li>
      </ul> 
    </ion-card-content>
    
      <ion-button [routerLink]="['/egresos']" routerLinkActive="router-link-active"  expand="block" fill="clear" shape="round">
        Let's see 
      </ion-button>
  </ion-card>

  <ion-button expand="block" id="addBtn" (click)="addNewMov()" color="secondary" fill="clear">
    <ion-icon name="add-circle-outline"></ion-icon>
  </ion-button>

</ion-content>
